{% extends 'market/base.html' %}
{% load market_extras %}

{% block content %}
    <a href="{% url 'market:listing_list' %}" class="detail-back-link">&larr; Wróć do listy</a>

    <div class="detail-container">

        <div class="detail-image-box">
            {% if listing.image %}
                <img src="{{ listing.image.url }}" alt="{{ listing.game.title }}">
            {% else %}
                <div class="detail-placeholder">Brak zdjęcia</div>
            {% endif %}
        </div>

        <div class="detail-info-box">
            <h1 class="detail-title">{{ listing.game.title }}</h1>
            <p class="detail-category">Kategoria: {{ listing.game.category.name }}</p>

            <div class="detail-price">{{ listing.price }} PLN</div>

            {% if not listing.is_sold %}
                {% if user.is_authenticated %}
                    {% if user != listing.user %}
                        <form action="{% url 'market:buy_listing' listing.pk %}" method="post" class="mb-20">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-block btn-lg">
                                Kup Teraz
                            </button>
                        </form>
                    {% else %}
                        <div class="status-badge status-owner">
                            To Twoja oferta
                        </div>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary btn-block mb-20">
                        Zaloguj się, aby kupić
                    </a>
                {% endif %}
            {% else %}
                <div class="status-badge status-sold">
                    Produkt sprzedany
                </div>
            {% endif %}
            <p><strong>Stan:</strong> {{ listing.get_condition_display }}</p>
            <p><strong>Data dodania:</strong> {{ listing.created_at|date:"d.m.Y" }}</p>

            <hr>

            <h3>Opis gry</h3>
            <div class="detail-desc">
                {{ listing.game.description|linebreaks }}
            </div>

            {% show_seller_card listing.user %}

        </div>
    </div>
{% endblock %}